@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: "Basier";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/basiercircle-regular.woff2") format("woff2");
  }

  html {
    font-family: "Basier", sans-serif;
  }
}
