# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: web

    strategy:
      matrix:
        node-version: [ 22.x ]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install pnpm
        uses: actions/checkout@v4
      - run: npm install --global corepack@latest
      - run: corepack enable
      - run: corepack prepare pnpm@latest-10 --activate
      - run: pnpm install

      - name: Install deps
        uses: actions/checkout@v4
      - run: pnpm install

      - name: Run tests
        uses: actions/checkout@v4
      - run: pnpm test
